@model IEnumerable<BLL.Models.Dtos.UserDto>
@{
    ViewBag.Title = "Список пользователей";
}

<a class="btn btn-sm btn-outline-dark" asp-action="Create">Добавить пользователя</a>
</br>
<table class="table">
    <tr><th>Email</th><th>Кнопки</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-outline-dark" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <a class="btn btn-sm btn-outline-dark" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>