################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/BLL/bin/Debug/net5.0/BLL.deps.json
/BLL/obj
/DAL/bin/Debug/net5.0
/DAL/obj
