@model volgaHack.ViewModels.EventViewModel

<div class="container">
    <div class="row">
        <div class="col order-1" style=" margin-top: 50px;">

            <form method="post" asp-action="Create" asp-controller="Event" class="form-container">
                <h2 align="center">Создание события</h2>
                <div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class=" input-group mb-3 input-group-lg">                      
                        <input type="text"  class="invisible" asp-for="ApplicationId" />
                    </div>
                   
                    <div class=" input-group mb-3 input-group-lg">
                        <span class="input-group-text" asp-for="Name">Название собития</span>
                        <input type="text" class="form-control" asp-for="Name" placeholder="Название ">
                    </div>

                    <div class=" input-group mb-3 input-group-lg ">
                        <span class="input-group-text" asp-for="Description">Описание</span>
                        <input type="text" class="form-control" asp-for="Description" placeholder="Описание">
                    </div>
                </div>
                </br>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>


            </form>
        </div>
    </div>

</div>
