<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link type="text/css" rel="StyleSheet" href="https://bootstraptema.ru/plugins/2016/shieldui/style.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>

<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <!-- График --><div id="chart"></div>

            <script>
 $(function () {
 $("#chart").shieldChart({
 theme: "light",
 seriesSettings: {
 line: {
 dataPointText: {
 enabled: true
 }
 }
 },
 chartLegend: {
 align: 'center',
 borderRadius: 2,
 borderWidth: 2,
 verticalAlign: 'top'
 },
 exportOptions: {
 image: true,
 print: true
 },
 axisX: {
 categoricalValues: ['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016'] //добавить года приложения
 },
 axisY: {
 title: {
 text: "Цена (€ за kWh)"
 }
 },
 primaryHeader: {
 text: "Цены на электроэнергию"
 },
 dataSeries: [{
 seriesType: 'line',
 collectionAlias: 'Домохозяйство',
 data: [0.164, 0.173, 0.184, 0.114, 0.273, 0.384, 0.464, 0.123, 0.112, 0.124, 0.1, 0.17]
 }, {
 seriesType: 'line',
 collectionAlias: 'Индустрия',
 data: [0.342, 0.127, 0.321, 0.567, 0.324, 0.543, 0.342, 0.435, 0.564, 0.342, 0.234, 0.564]
 }]
 });
 });
            </script><!-- /.График -->

        </div><!-- /.col-md-8 col-md-offset-2 -->
    </div><!-- /.row -->
</div><!-- /.container -->